*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


input
{
  border: none;
}


a
{
  text-decoration: none;
  color: black;
}


input:focus{
  outline: none;
}


button
{
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.App 
{
  max-width: 1440px;
  margin: 0 auto;
}


.header-wrap
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}


.header-input__wrap
{
  height: 40px;
}


.header-input
{
  height: 100%;
  width: 100%;
  background: 0 0;
  padding: 0 8px;
}


h1
{
  font-size: 18px;
}


main
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* padding-top: 60px; */
}

/* Header */

header
{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}


.title
{
  min-width: 200px;
  display: flex;
}


.header-input__article
{
  width: 100%;
  margin: 0 20px;
  border: 1px solid #ededed;
  border-radius: 20px;
}


.header-add__btn
{
  text-align: center;
  min-width: 100px;
  border: 1px solid #ededed;
  border-radius: 20px;
  padding: 10px 0;
}


/* Main */


.main-contents__box
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* ColorCard */

.color-card
{
  width: 22%;
  /* background-color: bisque; */
  margin: 10px 10px;
}


.color-card__box
{
  cursor: pointer;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}


.c1
{
  flex-grow: 4;
  border-radius: 10px 10px 0 0;
}


.c2
{
  flex-grow: 3;
}


.c3
{
  flex-grow: 2;
}


.c4
{
  flex-grow: 1.6;
  border-radius: 0 0 10px 10px;
}


.color-card__item
{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.color-card__btnbox
{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.color-card__hex
{
  position: absolute;
  width: fit-content;
  color: #fff;
  border-radius: 0 5px 0 0;
  padding: 1.5px 6px;
  background-color: rgba(0,0,0,.1);
}


.last-hex
{
  border-radius: 0 5px 0 10px;
}


.like-btn
{
  font-size: 17px;
  padding: 8px 12px;
  border: 1px solid #ededed;
  border-radius: 10px;
}


.color-card__date
{
  font-size: 14px;
}


/* SideNav */

aside
{
  margin-right: 30px;
}
 

.sidenav-wrap
{
  height: 100vh;
  width: 100%;
  margin-right: 60px;
  margin-top: 10px;
}


.sidenav-link
{
  display: block;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
}


/* Create */

.create-container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.create-card
{
  width: 400px;
}


.create-btn
{
  min-width: 200px;
  border: 1px solid #ededed;
  border-radius: 30px;
  padding: 14px 24px;
}


.create-card-box
{
  height: 400px;
}


.create1
{
  background-color: #bbbbbb;
}


.create2
{
  background-color: #cccccc;
}


.create3
{
  background-color: #dddddd;
}


.create4
{
  background-color: #eeeeee;
}